@import "tailwindcss";

:root {
  --background: #f5f0e7;
  --foreground: #171717;

  --background2: #fffdf9;
  --foreground2: #84b788;
  --brown: #938258;
}

@theme inline {
  /* --color-background: var(--background);
  --color-foreground: var(--foreground); */
  --font-sans: var(--font-geist-sans);
  --font-: var(--font-geist-mono);

  --font-noto: var(--font-noto);
  --font-lora: var(--font-lora);
  --font-comfortaa: var(--font-comfortaa);
  --font-quicksand: var(--font-quicksand);
  --font-outfit: var(--font-outfit);
  --font-baskervville: var(--font-baskervville);
  --font-redhat: var(--font-redhat);

  --container-max: 1330px;

  --color-foreground2: var(--foreground2);
  --color-background2: var(--background2);
  --color-brown: var(--brown);
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  a {
    @apply font-redhat;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-medium;
  }

  h2 {
    @apply text-2xl lg:text-4xl;
  }

  p {
    @apply font-comfortaa font-light text-sm leading-6;
  }
}

body {
  background: var(--background2);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  @apply mx-auto w-full px-4; /* fluid on small screens */
  max-width: var(--container-max); /* cap on large screens */
}

.link-underline {
  @apply relative after:absolute after:left-0 after:bottom-0 after:h-[1px] 
         after:w-0 after:bg-current after:transition-all hover:after:w-full after:duration-300 pb-1;
}

.link-underline-reverse {
  @apply relative after:absolute after:left-0 after:bottom-0 after:h-[1px] 
         after:w-full after:bg-current after:transition-all hover:after:w-0 after:duration-300 pb-1;
}

.card-shine-effect {
  --shine-deg: 45deg;
  background-repeat: no-repeat;
  background-position:
    -100% 0,
    0 0;

  background-image: linear-gradient(
    var(--shine-deg),
    transparent 20%,
    transparent 40%,
    rgba(221, 221, 221, 0.075) 50%,
    rgba(240, 240, 240, 0.123) 55%,
    transparent 70%,
    transparent 100%
  );

  background-size:
    250% 250%,
    100% 100%;
  transition: background-position 0s ease;
}

.card-shine-effect:hover {
  background-position:
    200%0,
    0 0;
  transition-duration: 1s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 0.2s ease-in;
}
